@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+AU+VIC:wght@100..400&display=swap');

:root {
  --font-family: "Merriweather", serif;
}

* {
  font-family: var(--font-family);
}

nav>div.container-fluid {
  padding: 0 !important;
}

/* used for  the dark/light mode */
.bi {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  border-bottom: 1px dotted var(--bs-body-color);
  margin-bottom: 0.5em;
}

.card h4 {
  margin-right: 1em;
}

.card h5 {
  margin-right: 2em;
}

.card h6 {
  margin-right: 4em;
}

.content {
  /* stop content overflow from overlapping with footer */
  margin-bottom: 5em;
}

.me-container img {
  width: 100%;
  height: auto;
  min-width: 10vh;
}

.me-container {
  max-width: 65%;
  height: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
}


.school-logo {
  height: 1rem;
}

#habilidades ul,
#habilidades li {
  list-style-type: none;
}

#habilidades li li:not(:last-child) {
  margin-bottom: 0.8em;
}

#habilidades .progress {
  height: 0.2rem;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  /* Adjust gap for spacing between cards */
  gap: 1rem;
  /* Center the container horizontally */
  margin: 0 auto;
}

/* 
  Using BOOTSTRAP BREAKPOINTS sizes
  https://getbootstrap.com/docs/5.3/layout/breakpoints/#available-breakpoints
*/

/* > 1200px = xl xxl */
.card-container>.card {
  flex: 1 0 calc(33.33% - 1rem);
}

@media (min-width: 1201px) {

  /* selects the last cards when they can't complete a row of 3 elements */
  .card-container>.card:last-child:nth-child(3n+1) {
    max-width: 33.33%;
    right: 0.5rem;
  }
}

/* < 1200px = lg */
@media (max-width: 1200px) {
  .card-container>.card {
    flex: 1 0 calc(50% - 1rem);
  }
}

/* < 992px = md */
@media (max-width: 992px) {
  .card-container>.card {
    flex: 1 0 50%;
  }
}

/* < 768px = sm */
@media (max-width: 768px) {
  .card-container>.card {
    flex: 1 0 100%;
  }
}

.git-link::before {
  display: inline-block;
  content: "";
  height: 1rem;
  width: 1rem;
  background-image: url("../icons/github-mark/github-mark.png");
  background-size: 100%;
  margin-right: 0.5rem;
}

[data-bs-theme=dark] .git-link::before {
  background-image: url("../icons/github-mark/github-mark-white.png");

}


/* website logo white & dark */
[data-bs-theme=dark] nav img {
  content: url("../icons/light/android-chrome-512x512.png");
}

[data-bs-theme=light] nav img {
  content: url("../icons/dark/android-chrome-512x512.png");
}

/* 
  The following code is taken from: 
  * https://codepen.io/carterfromsl/pen/LYqYRyN
  * https://freefrontend.com/css-hover-effects/
*/

.highlight {
  position: relative;
}

.highlight::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 1rem;
  left: 1rem;
  /* top: 20px;
  left: 20px; */
  border-radius: inherit;
  background: repeating-linear-gradient(45deg,
      var(--bs-body-color),
      var(--bs-body-color), 2px,
      color-mix(in srgb, var(--bs-body-bg), transparent 66%) 2px,
      color-mix(in srgb, var(--bs-body-bg), transparent 66%) 6px);
  transition: all 0.3s ease;
}

.highlight:hover::before {
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
  /* width: calc(100% + 40px);
  height: calc(100% + 40px); */
  top: -1rem;
  left: -1rem;
  /* top: -20px;
  left: -20px; */
}

footer img {
  width: 2em;
}

#education {
  background-image: url("https://www.up.edu.mx/wp-content/uploads/2022/01/01-1.jpg");
  background-size: auto 100%;
  background-position: center;
  /* padding: 3em; */
  z-index: 0;
}

#employment img {
  position: relative;
  z-index: -1;
}

[data-bs-theme=dark] #logo-up {
  content: url("../images/logoUPBlanco.png");
}

[data-bs-theme=dark] footer img {
  content: url("../icons/github-mark/github-mark-white.png");
}

[data-bs-theme=light] footer img {
  content: url("../icons/github-mark/github-mark.png");
}

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 1.5%;
  bottom: 1.5%;
  cursor: pointer;
}

[data-bs-theme=dark] .scroll-up {
  filter: invert(1);

}

.scroll-up>img {
  width: 2rem;
  height: 2rem;
}

/* Scroll to top button ends */

footer>span {
  /* copyright */
  font-size: 0.9rem;
}

footer>p {
  /* copyright */
  font-size: 0.8rem;
}

.card-container .col.card,
.colors {
  position: relative;
  overflow: hidden;
}

.card-container .col.card::before,
.colors::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(134deg, #ffe6e6, #e6e9ff, #ffffe6, #ecffe6, #e6fffe, #fde6ff);
  background-size: 300% 300%;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 0;
}

.card-container .col.card:hover::before,
.colors:hover::before {
  opacity: 1;
  animation: gradient-animation 6s ease infinite;
}

.card-container .col.card>*,
.colors>* {
  position: relative;
  z-index: 1;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 575.98px) {
  body {
    font-size: 0.725rem;
  }
}